<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Book Title</label>
        <input type="text" class="form-control" name="bookTitle"> 
        <label>Quote</label>
        <textarea class="form-control" name="quote" rows="0"></textarea>
    </div>
    
    <button type="submit" class="btn btn-dark">Send</button>
    
</form>

<%- include("partials/footer") -%>