<%- include("partials/header") -%>

<h1><a href="https://www.goodreads.com/book/show/1215032.The_Wise_Man_s_Fear"> The Wise Man's Fear</a></h1>
<p><%= firstContent %></p>


<%- include("partials/footer") -%>
 

