
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:wght@300&display=swap');

h1{
    font-size: 26px;
}

h1 a{
    text-decoration: none;
    color: black;
}

h1 a:hover{
    color: #bc6c25; 
}

.navbar{
    
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    border: 0; 
}

.navbar-header{
    font-size: 30px;
    font-family: 'Chewy', cursive;
    color: #283618;
    letter-spacing: 5px;
}

.nav-link{
    color: #bc6c25;
    letter-spacing: 3px;
    margin-left: 10px;
}

.nav-link:hover{
    color: #283618;
}

.footer {
	position: absolute;
    text-align: center;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #283618;
    
}

.footer p {
    margin-top: 10px;
	font-size: 15px;
    color: #bc6c25;
    font-family: 'Roboto', sans-serif;;
}
